<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
<<<<<<< HEAD
  <title>Team [TEAM 6 Ninad Dudhane's Application] Website</title>
=======
  <title>Team [TEAM Ninad's Application] Website</title>
>>>>>>> 342ece15d994b40c438771a589aca0d45bfadce2
  <meta name="HandheldFriendly" content="True" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
</head>
<body>
  <div>
<<<<<<< HEAD
      <h1>Welcome to [TEAM 6 Ninad Dudhane's Application] application</h1>
=======
      <h1>Welcome to [TEAM Ninad's Application] application</h1>
>>>>>>> 342ece15d994b40c438771a589aca0d45bfadce2
    {{{body}}}
</div>
<div>
  <h2>Add an event</h2>
    <form action="/event" method="post">
       title: <input name="title" type="text" /> <br />
       description: <input name="description" type="text" /> <br />
       <br />
        <input type="submit" name="submit" value="submit" />
    </form>
  </div>
</body>
</html>
